#define CONFIG_WIRELESS

#include "zmk-helpers/key-labels/42.h"
#include "base.keymap"

/{
  trackpad_scroll_listener {
      compatible = "zmk,input-behavior-listener";
      device = <&glidepoint_right>;
      layers = <1>; // Activates when layer 1 (scroll_layer) is active
      
      evt-type = <INPUT_EV_REL>;
      x-code = <INPUT_REL_HWHEEL>;
      y-code = <INPUT_REL_WHEEL>;
      
      scale-multiplier = <1>;
      scale-divisor = <2>;
      y-invert;
  };
};
